.App {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
}

.inputArea {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 10px;
}

.currencyInput {
  text-transform: uppercase;
}

.error {
  color: red;
}
